@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #111827;
  --foreground: #ededed;
  --text-primary: #e2e8f0;
  --brand: #ffa500;
  --radius: 12px;
} 

@media (prefers-color-scheme: light) {
  :root {
    --background: 0, 0%, 100%;
    --foreground: 240, 31%, 7%;
    --text-primary: 213, 10%, 36%;
    --brand: 39, 100%, 50%;
    --radius: 12px;
    --border-b: 220, 13%, 91%;
    --input-active: 215, 14%, 34%;
    --input: 218, 11%, 65%;
    --mute-foreground: 220, 9%, 46%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 221, 39%, 11%;
    --foreground: 0, 0%, 93%;
    --text-primary: 214, 32%, 91%;
    --brand: 39, 100%, 50%;
    --radius: 12px;
    --border-b: 215, 28%, 17%;
    --input-active: 216, 12%, 84%;
    --input: 217, 19%, 27%;
    --mute-foreground: 220, 9%, 46%;
  }
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f3b816;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #efae2c;
}

.animate-fill-gradient {
  background-size: 100% 200%; /* Extend the background vertically */
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
  scrollbar-width: thin;
  font-size: 1rem;
  border-radius: 10px;
}

figure [data-rehype-pretty-code-figure] {
  scrollbar-width: thin;
}

pre [data-line] {
  padding: 0 1rem;
  scrollbar-width: 4px!important;
}

code {
  border-radius: 10px;
  scrollbar-width: 2px;
  
}

/* Shiki Theme */
code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}
