@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111827;
  --text-primary: #e2e8f0;
  --radius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111827;
    --foreground: #ededed;
    --text-primary: #e2e8f0;
    --brand: #FFA500;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f3b816;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #efae2c;
}

.animate-fill-gradient {
  background-size: 100% 200%; /* Extend the background vertically */
}
